<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="apt.hacktogether" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".application.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Facebook -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1489518554685857"
            android:exported="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.BaseActivity"
            android:label="@string/title_activity_base" >
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/MyActivityTheme" >
        </activity>
        <activity
            android:name=".activity.ConversationsActivity"
            android:label="@string/title_activity_conversations" >
        </activity>
        <activity
            android:name=".activity.MessageActivity"
            android:label="@string/title_activity_message" >
        </activity>
        <activity
            android:name=".activity.BrowseActivity"
            android:label="@string/title_activity_browse"
            android:theme="@style/MyActivityTheme" >
        </activity>
        <activity
            android:name=".activity.GroupManageActivity"
            android:label="@string/title_activity_group_manage"
            android:theme="@style/MyActivityTheme" >
        </activity>
        <activity
            android:name=".activity.EditGroupActivity"
            android:label="@string/title_activity_edit_group" >
        </activity>
        <activity
            android:name=".activity.CreateGroupActivity"
            android:label="@string/title_activity_create_group" >
        </activity>
        <activity
            android:name=".activity.AddPersonActivity"
            android:label="@string/title_activity_add_person" >
        </activity>
        <activity
            android:name=".activity.AddInterestActivity"
            android:label="@string/title_activity_add_interest" >
        </activity>
        <activity
            android:name=".activity.AddSkillActivity"
            android:label="@string/title_activity_add_skill" >
        </activity>
        <activity
            android:name=".activity.AddOneHackathonActivity"
            android:label="@string/title_activity_add_one_hackathon" >
        </activity>
        <activity
            android:name=".activity.CreateProfileActivity"
            android:label="@string/title_activity_create_profile" >
        </activity>
        <activity
            android:name=".activity.AddPublicHackathonActivity"
            android:label="@string/title_activity_add_public_hackathon" >
        </activity>
        <activity
            android:name=".activity.AddPrivateHackathonActivity"
            android:label="@string/title_activity_add_private_hackathon" >
        </activity>
        <activity
            android:name=".activity.EditProfileActivity"
            android:label="@string/title_activity_edit_profile" >
        </activity>
    </application>

</manifest>
